#training-container {
    display: inline-flex;
    flex-flow: row wrap;
    min-width: 100%;
}

#board {
    flex: 1;
    margin: 5px;
    max-width: 80vmin;
}

#tsumego-controls {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    margin: 5px;
}

#info-box {
    margin: 5px;
    flex: 1;
    min-width: 30vmin;
}

#collection-info {
    display: flex;
    justify-content: flex-start;
    font-size: 1.2em;
    margin-bottom: 5px;
}

#collection-info div {
    padding: 7px;
}

#collection-section {
    border-radius: 4px;
    color: #ffffff;
    background-color: rgb(108, 117, 125);
    font-weight: bold;
}

#collection-topic {
    color: #000000;
    font-weight: bold;
}

#basic-info {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.5;
    color: #333333;
}

#color-to-play {
    font-size: 2em;
}

#problem-number, #permalink, #download-btn {
    margin-left: 1em;
}

.related-title {
    font-weight: bold;
    margin-top: 10px;
}

#subsets > li.active > a {
    font-size: 1.5em;
}

#subsets > li.active::before {
    content: "❚ ";
    font-size: 2em;
    color: red;
}

#tsumego-controls button {
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5;
    border-radius: 3px;
    color: #333333;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    white-space: nowrap;
}

#tsumego-comment {
    vertical-align: middle;
    border: 1px solid #cccccc;
    padding: 6px 12px;
    border-radius: 4px;
    color: #333333;
    background-color: #ffffff;
}

#tsumego-comment.comment {
    background-color: #00ffff;
    font-weight: normal;
}

/* if the "correct" node comment, we still want the "correct" green color */
#tsumego-comment.correct.comment,
#tsumego-comment.correct,
#tsumego-comment.interesting {
    background-color: #40F81F;
    font-weight: bold;
}

#tsumego-comment.doubtful,
#tsumego-comment.incorrect,
#tsumego-comment.unknown {
    background-color: #F81F40;
    color: #ffffff;
    font-weight: bold;
}

#tsumego-comment:empty {
    display: none;
}

img.icon {
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}

#timer {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: 2px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
}
