<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Training Module | Go Game Space</title>
    <script type="text/javascript" src="../../support/js/Tocca.min.js"></script>
    <script type="text/javascript" src="../../support/js/howler.min.js"></script>
    <script type="text/javascript" src="../../support/wgo.js/wgo/wgo.js"></script>
    <script type="text/javascript" src="../../support/wgo.js/wgo/kifu.js"></script>
    <script type="text/javascript" src="../../support/wgo.js/wgo/sgfparser.js"></script>
    <script type="text/javascript" src="../../support/wgo.js/wgo/player.js"></script>
    <script type="text/javascript" src="../../support/js/sgfgrove.js"></script>
    <script type="text/javascript" src="../../support/js/reorient.js"></script>
    <script type="text/javascript" src="../../support/js/training.js"></script>
    <script type="text/javascript" src="../../collections/topic_index.js"></script>
    <link rel="stylesheet" type="text/css" href="../../support/css/training.css">
    <link rel="stylesheet" href="../../support/css/wp-styles-munged.css" type="text/css">
</head>

<body>

<nav>
    <ul>
        <li><a href="http://gogamespace.com/">Go Game Space</a></li>
        <li><a href="../../index.html">Topics</a></li>
        <li><a href="http://gogamespace.com/training-module/">Help</a></li>
    </ul>
</nav>

<main>
    <div id="training-container">
        <div id="board-and-controls">
            <div id="collection-info">
                <div id="collection-section"><% collection_section %></div>
                <div id="collection-group"><% collection_group %></div>
                <div id="collection-topic"><% collection_topic %></div>
            </div>

            <div id="tsumego"></div>
            <div id="tsumego-controls">
                <button id="shuffle-btn">Shuffle</button>
                <button id="prev-btn">Prev</button>
                <button id="next-btn">Next</button>
                <button id="retry-btn">Retry</button>
                <button id="undo-btn">Undo</button>
                <button id="hint-btn">Hint</button>
            </div>
            <div id="tsumego-comment"></div>
        </div>

        <div id="info-box">
            <div id="basic-info">
                <div id="color-to-play"></div>
                <div id="problem-number"></div>
            </div>

            <div id="game-info"></div>

            <div class="related-title">Related collections</div>

            <ul id="related"></ul>
        </div>
    </div>
</main>

<footer>
    © 2020 by Marcel Grünauer
</footer>

<script>
    let problems = <% problems_json %>;
    // URLs are relative to the page URL
    initTraining({
        'collection_by_id': function(id) {
            return '../by_id/' + id + '.html';
        },
        'collection_by_filter': function(filter) {
            return '../by_filter/' + filter + '.html';
        },
        'support_dir': function() {
            return '../../support/';
        }
    });

</script>

</body>
</html>
