<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Training Module | Go Game Space</title>
    <link href="/support/css/training.css" rel="stylesheet">
    <link rel="stylesheet" href="/support/css/wp-styles-munged.css" type="text/css">
    <link rel="manifest" href="/support/manifest.webmanifest">
    <link rel="apple-touch-icon" href="/support/images/apple-touch-icon.png">
</head>

<body>

<main>
    <p>Select a topic to see the problems for that topic.</p>

    <div id="menu">
<% menu %>
    </div>
</main>

</body>
</html>
