<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Go Game Space Training Module</title>
        <script type="text/javascript" src="../../support/js/Tocca.min.js"></script>
        <script type="text/javascript" src="../../support/js/howler.min.js"></script>
        <script type="text/javascript" src="../../support/wgo.js/wgo/wgo.js"></script>
        <script type="text/javascript" src="../../support/wgo.js/wgo/kifu.js"></script>
        <script type="text/javascript" src="../../support/wgo.js/wgo/sgfparser.js"></script>
        <script type="text/javascript" src="../../support/wgo.js/wgo/player.js"></script>
        <script type="text/javascript" src="../../support/js/sgfgrove.js"></script>
        <script type="text/javascript" src="../../support/js/reorient.js"></script>
        <script type="text/javascript" src="../../support/js/training.js"></script>
        <script type="text/javascript" src="../../collections/topic_index.js"></script>
        <link rel="stylesheet" type="text/css" href="../../support/css/training.css">
    </head>
    <body>

        <div id="training-container">
            <div id="board-and-controls">
                <div id="collection-info">
                    <div>
                        <a href="../../index.html">Topics</a>
                    </div>
                    <div id="collection-section">Techniques</div>
                    <div id="collection-group"></div>
                    <div id="collection-topic">Belly attachment</div>
                </div>

                <div id="tsumego"></div>
                <div id="tsumego-controls">
                    <button id="shuffle-btn">Shuffle</button>
                    <button id="prev-btn">Prev</button>
                    <button id="next-btn">Next</button>
                    <button id="retry-btn">Retry</button>
                    <button id="undo-btn">Undo</button>
                    <button id="hint-btn">Hint</button>
                </div>
                <div id="tsumego-comment"></div>
            </div>

            <div id="info-box">
                <div id="basic-info">
                    <div id="color-to-play"></div>
                    <div id="problem-number"></div>
                </div>

                <div id="game-info"></div>

                <div class="related-title">Related collections</div>

                <ul id="related"></ul>
            </div>
        </div>

<script>
    let problems = <% problems_json %>;
    initTraining();
</script>

    </body>
</html>
