<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Training Module | Go Game Space</title>
    <link href="support/css/training.css" rel="stylesheet">
    <link rel="stylesheet" href="support/css/wp-styles-munged.css" type="text/css">
</head>

<body>

<nav>
    <ul>
        <li><a href="http://gogamespace.com/">Go Game Space</a></li>
        <li><a href="#">Topics</a></li>
        <li><a href="http://gogamespace.com/training-module/">Help</a></li>
    </ul>
</nav>

<main>
    <p>Select a topic to see the problems for that topic.</p>

    <div id="menu">
<% menu %>
    </div>
</main>

<footer>
    © 2020 by Marcel Grünauer
</footer>

</body>
</html>
