<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Go Game Space</title>
    <link href="../../support/training.css" rel="stylesheet">
  </head>
  <body>

    <h1>
        <span id="collection_section"><% collection_section %></span>
        <span id="collection_group"><% collection_group %></span>
        <span id="collection_topic"><% collection_topic %></span>
    </h1>

    <ul>
        <li><a href="../../index.html">Topic Index</a></li>
        <li><a href="">Randomize</a></li>
    </ul>

    <div id="training_area">
        <div class="glift-widget" id="glift_main_display" class="glift-widget"></div>
    </div>

    <h3>Related collections</h3>

    <ul id="related">
    </ul>

<script src="../../support/glift.min.js"></script>
<script src="../../support/sgfgrove.js"></script>
<script src="../../support/reorient.js"></script>
<script src="../../collections/topic_index.js"></script>
<script src="../../support/training.js"></script>
<script>
    problems = <% problems_json %>;
    initTraining();
</script>

  </body>
</html>
